<script>
    function ax() {
        axios.get('/userlist')
                .then(function (response) {
                    console.log(response.data);
                    let res = response.data;
                    const User = {
                        data() {
                            return {
                                tableData: res
                            }
                        }
                    }
                    var Ctor = Vue.extend(User);
                    new Ctor().$mount('#app');
                })
                .catch(function (error) {
                    console.log(error);
                });
    }
</script>