<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Приложение Koa2.js</title>
        <link  href="http://fonts.googleapis.com/css?family=Oswald:regular" rel="stylesheet" type="text/css" >
        <link href='http://fonts.googleapis.com/css?family=Junge' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/fonts/raphaelicons.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="scripts/vue.js"></script>
    </head>
    <body>
        <header class="clearfix">
            <div class="container">
                <h1><%=user.message %></h1>
                <a id="logo" href="/">Приложение Koa.js</a>
                <ul class="social-icons">
                    <li><a href="/login" class="icon flip">Вход</a></li>
                    <li><a href="/registr" class="icon">Регистрация</a></li>
                </ul>
                <nav class="clearfix">
                    <ul role="navigation">
                        <li>
                            <a href="/" class="activePage">Главная</a>
                        </li>
                        <li>
                            <a href="/users">Пользователи</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <section role="banner">
            <hgroup>
                <h1>Тут будет приветствие</h1>
                <div id="hello"> 
                </div>
            </hgroup>
            <article role="main" class="clearfix">
                <div class="post">
                    <div>
                        <section id='content'>
                            <p>Содержимое контента?</p>
                        </section>
                    </div>
                </div>
                <aside role="complementary">
                    <a href="#demo-url"><img src="http://lorempixel.com/420/290/nature/" alt="Lorem ipsum dolor..."></a>
                </aside>
            </article>
        </section> <!-- // banner ends -->
   
        <footer role="contentinfo">
            <p>
                <span class="left">Тестовое задание 5 &copy; - 2019 </span>
                <a href="/">Главная</a> | <a href="/userlist">Пользователи</a> | <a href="/login">Вход</a> | <a href="/registr">Регистрация</a>
            </p>
        </footer>
        <script src="scripts/script.js"></script>
        <!--script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script-->
    </body>
</html>
